<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/firstPage.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1><b>Thumbtack</b></h1>
<div class="position-absolute mid-center">
    <a href="../html/ExpertLoginPage.html" type="button" class="btn btn-primary">Expert login</a>
    <a href="../html/CustomerLoginPage.html" type="button" class="btn btn-primary">Customer login</a>
</div>
<script>
</script>
</body>
</html>